.wrapper {
  display: flex;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #8585ad;
}

.link:hover > nav > svg {
  fill: #f2f2f3;
}

.link_active {
  text-decoration: none;
  color: #f2f2f3;
}

.link:hover > nav > span {
  color: #f2f2f3;
}
