.wrapper {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: flex-end;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 40px;
}

.icon_container {
  display: flex;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;
}
